/* 字体设定 */
body, input, textarea, select, button {
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    color: #333;
    line-height: 1.5;
}
body{
    /* 背景图片为/img/Background.jpg ,不剪切 并且模糊处理*/
    background: url(../img/Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: darkgray;
}
/* topbar */
#topbar {
    position: relative;
    background-color: #707683;
    border-bottom: 1px solid #635a5a;
    position: relative;
    z-index: 100;
    /* 整体圆角处理 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    

}
#topbar .logo {
    margin-left: 20px;
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
    top: 5.5px;
}
#topbar .nav {
    top: -13px;
    position: relative;
    text-align: right;
}
#topbar .nav li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
#topbar .nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    /* 调整间距 */
    padding: 0 10px;
}
#topbar .nav li a:hover {
    color: rgb(15, 14, 13);
}
#topbar .nav li a.active {
    color: rgb(124, 115, 108);
}
#topbar .nav li a.active:hover {
    color: rgb(0, 0, 0);
}
#topbar .nav li a.active:visited {
    color: rgb(194, 188, 184);
}
#topbar .nav li a:visited {
    color: #333;
}



#LogoPage {
    color: bisque;
    position: relative;
    margin-left: 120px;
}
#LogoPage .BigTittle {
    /* 平滑渐入动画 */
    position: relative;
    font-size: 30px;
    text-align: left; 
    /* 使元素位于屏幕中央 */
    margin-top: calc(50vh - 100px);
}
#LogoPage .QouteText {
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin-left: 70px;
    font-weight: bold;
}
#LogoPage {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}   
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#LogoPage .QouteText {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}   
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 当鼠标滑过时，抖动 */
#LogoPage .QouteText:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    10% {
        transform: translate(-0.5px, 0.5px) rotate(-0.1deg);
    }
    20% {
        transform: translate(0.5px, 0px) rotate(0.1deg);
    }
    30% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    40% {
        transform: translate(0.5px, -0.5px) rotate(0.1deg);
    }
    50% {
        transform: translate(-0.5px, 0.5px) rotate(-0.1deg);
    }
    60% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    70% {
        transform: translate(0.5px, 0.5px) rotate(-0.1deg);
    }
    80% {
        transform: translate(-0.5px, -0.5px) rotate(0.1deg);
    }
    90% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    100% {
        transform: translate(0.5px, 0.5px) rotate(-0.1deg);
    }
}

.SineAnime {
    display: inline;
    margin-left: 1150px;

}

#PhotoQoute {
    /* 自适应贴底 */
    position: absolute;
    bottom: 0;
    margin-left: calc(50vw - 100px);
    margin-right: calc(50vw - 100px);
    text-align: center;
    font-size: 10px;
    color:#333
}
#PhotoQoute  a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;
}
#PhotoQoute  a:hover {
    color: rgb(15, 14, 13);
}
#PhotoQoute  a.active {
    color: rgb(124, 115, 108);
}
#PhotoQoute  a.active:hover {
    color: rgb(0, 0, 0);
}
#PhotoQoute  a.active:visited {
    color: rgb(194, 188, 184);
}
#PhotoQoute  a:visited {
    color: #333;
}


.Product_1 {
    display: none;
}









/* 为手机创建样式 */

@media screen and (max-width: 540px) {
    /* 这个样式是当设备width小于540px时去掉nav li反之替代Logo Text */
    #topbar .logo {
        margin-left: 0px;
        top: 1px;
        text-align: center;
    }
    #topbar .nav {
      display: none;
    }
}

@media screen and (max-width: 440px) {
    /* 这个样式是当设备width小于440px时居中LogoPage文字，并且对齐 */
    #LogoPage {
        margin-left: 0px;
    }
    #LogoPage .BigTittle {
        text-align: center;
    }
    #LogoPage .fix {
       text-align: right;
    }
    #LogoPage .QouteText {
        text-align: center;
    }
}

